<footer>
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li>&copy; &nbsp; <%= global.title %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
         &nbsp; <i class="fa fa-map-marker"></i> <%= global.address %> &nbsp;
      </li>
      <li>
         &nbsp; <i class="fa fa-phone"></i> <%= global.phone %> &nbsp;
      </li>
      <li>
         &nbsp; <i class="fa fa-envelope"></i> <%= global.email %>  &nbsp;
      </li>
    </ul>
  </div>
</footer>