<footer>
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li>&copy; &nbsp; <%= title %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
         &nbsp; <i class="fa fa-map-marker"></i> <%= address %> &nbsp;
      </li>
      <li>
         &nbsp; <i class="fa fa-phone"></i> <%= phone %> &nbsp;
      </li>
      <li>
         &nbsp; <i class="fa fa-envelope"></i> <%= email %>  &nbsp;
      </li>
    </ul>
  </div>
</footer>